body {
    background-color: #be5a4a;
}

p {
    background-color: rgb(236, 241, 89);
}

.text {
    background-color: rgb#be5a4a;
}

#caption {
    background-color: cadetblue;
}

.o {
    background-color: rgb(112, 216, 216);
}

.y {
    background-color: rgb(132, 181, 230);
}

.r {
    background-color: rgb(246, 248, 190);
}
.l {
    background-color: rgb(248, 190, 190);
}
